.container_sobre {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 48px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .container_sobre h2 {
    font-size: 24px;
    margin-bottom: 20px;
    
  }
  
  .container_sobre h3 {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .container_sobre p {
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .container_sobre img.ilustrativa {
    max-width: 50%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
  }
  
  
  @media screen and (max-width: 600px) {
    .container_sobre h2 {
      font-size: 20px;
    }
  
    .container_sobre h3 {
      font-size: 16px;
      margin-top: 20px;
    }
  
    .container_sobre p {
      margin-bottom: 15px;
    }
  }
  