nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
ul > li{
    display: inline-block;
}
a {
    text-decoration: none;
    margin-left: 16px;
}
.image__logo{
    width: 100px;
    height: 100px;
}
@media (max-width:600px){
    .lista__menu{
        display: none;
    }
   
}